*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#stew{
    color: darkred;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
}
h2{
    color: gold;
}
h2:hover{
    transition: 0.3s;
    color: white;
}
li{
    color: white;
}
ul {
    color: red;
    list-style-type: square;
    padding-left: 20px;
}
ol{

    color: red;
    list-style: disc;
    padding-left: 20px;
}